/* html, body, #container { height: 100%; } */
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#container.blurred
{
	transition: all 0.4s ease;

	-ms-filter: blur(2px) grayscale(50%);
	-webkit-filter: blur(2px) grayscale(50%);
	-moz-filter: blur(2px) grayscale(50%);
	-o-filter: blur(2px) grayscale(50%);
	filter: blur(2px) grayscale(50%);

	/* -webkit-transform: scale(0.9); */
}

#litebox {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	white-space: nowrap;
}

#litebox:before {
	content: '';
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;
}

#litebox .litebox__container {
	display: inline-block;
	position: relative;
  min-width: 70px;
  min-height: 70px;
	text-align: left;
	vertical-align: middle;
	background: #fff;
	border-color: #000;
	border-style: solid;
	box-sizing: content-box;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

#litebox .litebox__content
{
	/* opacity: 0; */
	width: 100%;
	height: 100%;
}

#litebox .litebox__content .litebox__image { display: block; max-width: 100%; max-height: 100%; height: auto;}

#litebox .litebox__close {
	position:absolute;
	top: 0;
	right: 0;
	z-index:1002;
	cursor:pointer;
	width: 20px;
	height: 20px;
	background: #000 url(images/cross.svg) center / 50% no-repeat;
}

#litebox.loading .litebox__loading { display: block; }
#litebox.loading .litebox__close   { display: none; }


#litebox .litebox__loading{
  display: none;
  position:absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width:50px;
  height:50px;
}

#litebox .litebox__loading > div{
  position: absolute;
  top: 0;
  left: 0;
  width:10px;
  height:10px;
  border-radius: 10px;
  background: #e8ecee;

  -webkit-animation: dotArc 3s infinite ease-in-out;
  animation: dotArc 3s infinite ease-in-out;
}

#litebox .litebox__loading > div:first-child{
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
#litebox .litebox__loading > div:last-child{
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes dotArc {
  1% { }
  33% { -webkit-transform: translateX(20px) translateY(40px);}
  66% { -webkit-transform: translateX(40px) translateY(0px); }
  /* 100% { opacity: 1} */
}