html, body, #container { height: 100%; }

#container.blurred
{
	transition: all 0.4s ease;

	-ms-filter: blur(3px) grayscale(50%);
	-webkit-filter: blur(3px) grayscale(50%);
	-moz-filter: blur(3px) grayscale(50%);
	-o-filter: blur(3px) grayscale(50%);
	filter: blur(3px) grayscale(50%);

	-webkit-transform: scale(0.9);
}